*.o
*.obj
*.lib
*.so
*.dll
*.exe

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.swp
*.swo
*.~
*thumbs.db

*.pyc

product
.metadata
.settings
.launches
RemoteSystemsTempFiles
dvt
F2803x_RAM

*.opt
*.pp
*.map
*.mk

*cscope.files
*cscope.in.out
*cscope.out
*cscope.po.out

